<a href="https://colab.research.google.com/github/HENRIQUEDEV04/EXEMPLO-ETL/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importando a biblioteca pandas
import pandas as pd

# Extração dos dados da filial 1 (CSV)
vendas_filial1 = pd.read_csv('vendas_filial1.csv')

# Extração dos dados da filial 2 (Excel)
vendas_filial2 = pd.read_excel('vendas_filial2.xlsx')

# Transformações
# Podemos fazer transformações adicionais aqui, se necessário

# Visualização dos dados
print("Dados da filial 1:")
print(vendas_filial1.head())
print("\nDados da filial 2:")
print(vendas_filial2.head())

Dados da filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário
0          1500.0
1          1000.0
2           600.0
3           200.0
4            80.0

Dados da filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário
0           250.0
1           180.0
2           900.0
3           300.0
4           120.0

In [ ]:
#Transformação dos dados: Calcular o valor total de vendas para cada filial
vendas_filial1['Valor Total']= vendas_filial1['Quantidade Vendida'] * vendas_filial1['Preço Unitário']
vendas_filial2['Valor Total']= vendas_filial2['Quantidade Vendida'] * vendas_filial2['Preço Unitário']

#Visualizar os dados transformados
print("Dados Transformados da Filial 1:")
print(vendas_filial1.head())
print("\nDados Transformados da Filial 2:")
print(vendas_filial2.head())

Dados Transformados da Filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor Total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados Transformados da Filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor Total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [ ]:
#Carregamento dos dados transformados para um arquivo CSV
vendas_filial1.to_csv('vendas_filial1_transformadas.csv', index=False)
vendas_filial2.to_csv('vendas_filial2_transformadas.csv', index=False)

#Apresentar os dados carregados dos arquivos CSV
dados_filial1 = pd.read_csv('vendas_filial1_transformadas.csv')
dados_filial2 = pd.read_csv('vendas_filial2_transformadas.csv')

print("Dados Transformados da Filial 1 (do arquivo CSV):")
print(dados_filial1.head())
print("\nDados Transformados da Filial 2 (do arquivo CSV):")
print(dados_filial2.head())

Dados Transformados da Filial 1 (do arquivo CSV):
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor Total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados Transformados da Filial 2 (do arquivo CSV):
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor Total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')